var getType = function (a) {
  switch(a){
    case '0':
      return '92#(93#)'; 
      break;
    case '1':
      return '95#(97#)'; 
      break;
    case '2':
      return '98#';
      break;
    case '3':
      return '0#柴油';
      break;
    case '4':
      return '-10#柴油';
      break;
  }
}
var getPrice = function (oil) {
  var price = (oil.price - oil.savePrice).toFixed(2);
  return price;
}
module.exports = { getType: getType, getPrice: getPrice};